html {
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Noto Sans JP", sans-serif;
}

header {
  padding: 27px 0;
}
header .container {
  max-width: 1080;
  width: 90%;
  margin: 0 auto;
}
header .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header .pop {
  font-family: "Poppins", sans-serif;
}

.container.flex.pop .logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.07em;
}
.container.flex.pop .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header_menu li {
  font-size: 11px;
  margin-left: 40px;
}
.header_menu li a {
  transition: 0.3s;
}
.header_menu li a:hover {
  color: rgb(43, 72, 233);
  transition: 0.3s;
}

.header_active {
  transform: translateX(0%) !important;
  z-index: 3;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@keyframes headerlinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}

.image {
  background-image: url(./faq.image/main.top.png);
  background-position: center;
  background-size: cover;
  height: 750px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 1;
  display: block;
}

.image_inner {
  z-index: 2;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.image_inner p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.image_inner h1 {
  font-size: 50px;
  font-weight: 700;
}

.section1 {
  padding-top: 90px;
  margin-bottom: 150px;
  max-width: 1080;
  width: 90%;
  margin: 0 auto;
}
.section1 .QandA-1 {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  margin-bottom: 90px;
}
.section1 .QandA-1 h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.section1 .QandA-1 dt {
  background: #8eaaf7;
  color: #fff;
  padding: 8px;
  border-radius: 2px;
}
.section1 .QandA-1 dt:before {
  content: "Q.";
  font-weight: bold;
  margin-right: 8px;
}
.section1 .QandA-1 dd {
  margin: 24px 16px 40px 32px;
  line-height: 140%;
  text-indent: -24px;
}
.section1 .QandA-1 dd:before {
  content: "A.";
  font-weight: bold;
  margin-right: 8px;
}
.section1 .QandA-2 {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  margin-bottom: 90px;
}
.section1 .QandA-2 h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.section1 .QandA-2 dt {
  background: #9d9e9f;
  color: #fff;
  padding: 8px;
  border-radius: 2px;
}
.section1 .QandA-2 dt:before {
  content: "Q.";
  font-weight: bold;
  margin-right: 8px;
}
.section1 .QandA-2 dd {
  margin: 24px 16px 40px 32px;
  line-height: 140%;
  text-indent: -24px;
}
.section1 .QandA-2 dd:before {
  content: "A.";
  font-weight: bold;
  margin-right: 8px;
}

.footer {
  background-image: url(./faq.image/top.footer.JPG);
  background-position: bottom;
  background-size: cover;
  height: 700px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
  display: block;
}

.footer_inner {
  z-index: 2;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.footer_inner .pop {
  font-family: "Poppins", sans-serif;
}
.footer_inner p {
  font-size: 20px;
  font-weight: 500;
}
.footer_inner h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer_inner .sns_btn {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 20px;
}
.footer_inner ul {
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
  }
  .header_menu {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  .header_menu li {
    opacity: 0;
    font-size: 16px;
  }
  .image_inner p {
    font-size: 15px;
    font-weight: 500;
  }
  .image_inner h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .footer_inner {
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
  .footer_inner .pop {
    font-family: "Poppins", sans-serif;
  }
  .footer_inner p {
    font-size: 15px;
    font-weight: 500;
  }
  .footer_inner h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .footer_inner .sns_btn {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer_inner ul {
    text-align: center;
    padding-top: 10px;
  }
}/*# sourceMappingURL=FAQ.css.map */