html {
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Noto Sans JP', sans-serif;
}


// header -------------------------------------------------------
header {
  padding: 27px 0;


  & .container {
      max-width: 1080;
      width: 90%;
      margin: 0 auto;
  }

  & .flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
  }

  & .pop {
      font-family: "Poppins", sans-serif;
  }

  & .container.flex.pop {
      & .logo {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: -0.07em;
      }

      & .flex {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
      }

      & .header_menu {
          & li {
              font-size: 11px;
              margin-left: 40px;

              & a {
                  transition: .3s;

                  &:hover {
                      color: rgb(71, 188, 235);
                      transition: .3s;
                  }
              }
          }
      }
  }
}