html {
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Noto Sans JP", sans-serif;
}

header {
  padding: 27px 0;
}
header .container {
  max-width: 1080;
  width: 90%;
  margin: 0 auto;
}
header .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header .pop {
  font-family: "Poppins", sans-serif;
}

.container.flex.pop .logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.07em;
}
.container.flex.pop .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header_menu li {
  font-size: 11px;
  margin-left: 40px;
}
.header_menu li a {
  transition: 0.3s;
}
.header_menu li a:hover {
  color: rgb(43, 72, 233);
  transition: 0.3s;
}

.header_active {
  transform: translateX(0%) !important;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.image {
  background-image: url();
  background-position: center;
  background-size: cover;
  height: 750px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 1;
  display: block;
}

.image_inner {
  z-index: 2;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.image_inner p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.image_inner h1 {
  font-size: 50px;
  font-weight: 700;
}

.section1 {
  margin-bottom: 150px;
  max-width: 1080;
  width: 90%;
  margin: 0 auto;
}
.section1 .flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.section1 .flex .sdgs_image {
  width: 100%;
  height: 400px;
  margin-left: 40px;
}
.section1 .sdgs_text {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.section1 .sdgs_text h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.section1 .sdgs_text p {
  font-size: 20px;
}

.section2 {
  padding-top: 150px;
  margin-bottom: 150px;
  max-width: 1080;
  width: 90%;
  margin: 0 auto;
}
.section2 .flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.section2 .flex .sdgs_image {
  width: 100%;
  height: 400px;
  margin-left: 40px;
}
.section2 .sdgs_text {
  margin-top: 30px;
  margin-bottom: 70px;
  line-height: 1.5;
}
.section2 .sdgs_text h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.section2 .sdgs_text p {
  font-size: 20px;
}

.section3 {
  margin-bottom: 150px;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.section3 hr {
  border: dotted 1.7px #808080;
  margin-bottom: 20px;
}
.section3 .headline {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}
.section3 .flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 90px;
  flex-wrap: wrap;
}
.section3 .flex .about_p {
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.section3 .flex .about_p h2 {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.section3 .flex .about_image {
  width: 100%;
  height: 350px;
  border-radius: 16px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.section4 {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.section4 h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 48px;
}
.section4 .text {
  line-height: 2;
}

.footer {
  background-image: url(./SDGs.image/top.footer.JPG);
  background-position: bottom;
  background-size: cover;
  height: 700px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
  display: block;
}

.footer_inner {
  z-index: 2;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.footer_inner .pop {
  font-family: "Poppins", sans-serif;
}
.footer_inner p {
  font-size: 20px;
  font-weight: 500;
}
.footer_inner h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer_inner .sns_btn {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 20px;
}
.footer_inner ul {
  text-align: center;
  padding-top: 10px;
}/*# sourceMappingURL=SDGs.css.map */